@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}
body {
	background:#e6e6e6;

}
	h1{text-align: center;
		font-size:40px;
		font-family:arial;
		margin-top: 80px;
		color:aqua;
		text-shadow:0px 0px 6px black;
}

header, .main, footer {
	width:90%;
	max-width:1000px;
	margin:20px auto; 
}
nav ul ul{
	display:none;
	font-family:verdana,geneva,sans-serif;
	font-style:normal;
}
nav ul li:hover> ul{
	display:block;
}
nav ul{
	background:#efefef;
	background:linear-gradient(top,#efefef 0%,#bbbbbb 100%);
	background:-moz-liner-grandient(top,#o9c 0%,#09c 100%);
	background:-webkit-linear-grandient(top,#09c 0%,#09c100%);
	box-shadow:0px 0px 9px rgba(0,0,0,0.15);
	padding:0 20px;
	border-radius:10px;
	list-style:none;
	position:relative;
	display:inline-table;
	font-family:arial,helvetica,sans-serif;
	font-style:normal;
}
nav ul:after{
	content:"";
	clear: both;
	display: block;
}
nav ul li{
	float:left;
}
nav ul li:hover{
	background:#4b545f;
	background: linear-gradient(top,#4b545f 0%,#5f6975 40%);
	background: -moz-linear-gradient(top,#09f 0%,#09f 40%);
	background: -wedkit-linear-gradient(top,#09f 0%,#09f 40%);
}
nav ul li:hover a{
	color:#fff;
}
nav ul li a{
	display: block;
	padding: 25px 40px;
	color:#2b2a2a;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
}
nav ul ul{
	background: #09f;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top:100%;
}
nav ul ul li{
	float: none;
	border-top: 1px solid#6b727c;
	border-bottom: 1px solid#575f6a;
	position: relative;
}
nav ul ul li a{
	padding: 15px 40px;
	color:#fff;
}
nav ul ul li a:hover{
	background: #069;
}
nav ul ul ul{
	position: absolute;
	left: 100%;
	top;0;
}
b {
	color:#000;
}
i{
	color:red;
}
cite{
	text-align:center;
}
table{border:1px solid #000;
	border-collapse:separate;
}
table td{border:1px solid #000;
	   padding:20px;
}
table tr:hover{background:#ccc; 
} 
table td:hover{background:#000;
			  color:#fff;
}
form{background:none;
	width:25%;          
	border:1px solid #ccc;
	margin:20px;
	padding:20px;
	text-align:center;
}
.main .articles {
	color:blue;
	width:100;
	margin-right:1.5%;
	float:left;
}

.main .articles article {
	padding:20px;
	background:#fff;
	margin-bottom:20px;
}

footer {
	background:#00Df20;
	color:#000;
	clear:both;
	padding:10px 0px;
	text-align:center;
}